
html, body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: fixed;
	width: 100vw;
	height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                               supported by Chrome and Opera */
}


#gameCanvas {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  /*background: rgb(41, 41, 41);*/
  background: #1a1a1a;
}







#clientListHolder {
    position: fixed;
    right: 10px;
    top: 10px;
    
    /*width: 200px;*/
    width: auto;
    height: auto;
    
    z-index: 10;

    padding: 3px 10px;


    border-radius: 3px;
    background: rgba(40, 40, 40, .9);
    box-shadow: 5px 5px 20px 5px rgba(255, 255, 255, .02);
}

#clientListHolder .text.header {
    font-size: 11px;
    padding: 5px;

    color: #555;

    border-bottom: 1px solid #333;
    margin-bottom: 5px;
}

#clientListHolder .clientItem {
    position: relative;
    height: 20px;

    padding: 5px 0;

}

#clientListHolder .clientItem .clientColor {
    float: left;
    width: 6px;
    height: 6px;

    margin: 7px 5px;

    border-radius: 100%;
    background: #f00;
}

#clientListHolder .clientItem .clientName {
    position: relative;
    float: left;

    margin-left: 3px;

    width: auto;
    max-width: 150px;
    line-height: 20px;
    font-size: 13px;
    
    white-space: nowrap;
    overflow: hidden;
}

#clientListHolder .clientItem.self .clientName {
    color: #ccc;
}



